
:root{
    --color-mossgreen:#008080;
    --color:#198c8c;
    --color-white:#fff;
    --color-black:#000;
    

}
.app{
    text-align: center;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
                    /*//////////////////////////////////////////////////////[APP__HEADER___]//////////////////////////////////////////////////////*
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* START app__header-----------------------------------------------------------------------------------------------------------------------------------------> */

.app__header{
    position: relative;
}

/* END   app__header-----------------------------------------------------------------------------------------------------------------------------------------> */



/* START header__navbar--contact-----------------------------------------------------------------------------------------------------------------------------------------> */
.header__navbar--contact{
    height: 1.8rem;
    background-color: red;
    position: relative;
    background-color: var(--color-mossgreen);

}


.header__navbar-social{
    display: flex;
    --line-height-social:27px;
    line-height: var(--line-height-social);
    justify-content: space-between;
    background-color: var(--color);
    list-style: none;
    padding: 0 350px;
    margin: 0;
    color: var(--color-white);

}
.header__navbar-link{
    text-decoration: none;
    color: var(--color-white);
    padding-left: 10px;
}
.header__navbar-contactlink{
    color: var(--color-white);
    
}
.header__navbar-social .header__navbar-contactlist{
    display: flex;
    list-style: none;
}

.header__navbar-social .header__navbar-item:nth-child(2) .header__navbar-contactitem{
    padding-left: 30px;


}
.header__navbar-spanproduct{
    padding-right: 10px;
}
.header__navbar-social .header__navbar-item:nth-child(3) .header__navbar-icon{
    padding-left: 20px;
    
}
/* END   header__navbar--contact-----------------------------------------------------------------------------------------------------------------------------------------> */



/* START header__navbar--gadget-----------------------------------------------------------------------------------------------------------------------------------------> */
.header__navbar--gadget{
    height: 5rem;
}

/* END   header__navbar--gadget-----------------------------------------------------------------------------------------------------------------------------------------> */

/* START header__navbar--navigation-----------------------------------------------------------------------------------------------------------------------------------------> */
.header__navbar--navigation{
    width: 100%;
}
.header__navbar-menu{
    padding: 0 350px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    bottom: 0;
}
.header__navbar-menu .header__navbar-item{
    

}
.header__navbar-menu  .header__navbar-icon{
    padding-left: 10px;
}
/* END   header__navbar--navigation-----------------------------------------------------------------------------------------------------------------------------------------> */


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
                    /*//////////////////////////////////////////////////////[APP__BODY___]//////////////////////////////////////////////////////*
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* START app__body-----------------------------------------------------------------------------------------------------------------------------------------> */
/* END   app__body-----------------------------------------------------------------------------------------------------------------------------------------> */





/* START body__banner--product-----------------------------------------------------------------------------------------------------------------------------------------> */
.body__banner--product{
    height: 28rem;
    background-color:bisque;
}

/* END   body__banner--product-----------------------------------------------------------------------------------------------------------------------------------------> */


/* START body__catelogy--product-----------------------------------------------------------------------------------------------------------------------------------------> */
.body__catelogy--product{
    height: 25rem;
    background-color: blanchedalmond;
}

/* END   body__catelogy--product-----------------------------------------------------------------------------------------------------------------------------------------> */



/* START body__market--product-----------------------------------------------------------------------------------------------------------------------------------------> */
.body__market--product{
    height: 62rem;
    background-color: azure;
}

/* END   body__market--product-----------------------------------------------------------------------------------------------------------------------------------------> */

/* START body__carousel--product-----------------------------------------------------------------------------------------------------------------------------------------> */
.body__carousel--product{
    height: 62rem;
    background-color: aqua;
}


/* END   body__carousel--product-----------------------------------------------------------------------------------------------------------------------------------------> */



/* START body__about--store-----------------------------------------------------------------------------------------------------------------------------------------> */
.body__about--store{
    height: 68rem;
    background-color: aquamarine;
}
/* END   body__about--store-----------------------------------------------------------------------------------------------------------------------------------------> */


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
                    /*//////////////////////////////////////////////////////[APP__FOOTER___]//////////////////////////////////////////////////////*
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* START app__footer-----------------------------------------------------------------------------------------------------------------------------------------> */
/* END   app__footer-----------------------------------------------------------------------------------------------------------------------------------------> */



/* START footer__form--customer-----------------------------------------------------------------------------------------------------------------------------------------> */
.footer__form--customer{
    height: 18rem;
    background-color: blanchedalmond;
}

/* END   footer__form--customer-----------------------------------------------------------------------------------------------------------------------------------------> */




/* START footer__contact--support-----------------------------------------------------------------------------------------------------------------------------------------> */
.footer__contact--support{
    height: 35rem;
    background-color: azure;
}
/* END   footer__contact--support-----------------------------------------------------------------------------------------------------------------------------------------> */




/* START footer__contact--pay-----------------------------------------------------------------------------------------------------------------------------------------> */
.footer__contact--pay{
    height: 4rem;
    background-color: aqua;
}

/* END   footer__contact--pay-----------------------------------------------------------------------------------------------------------------------------------------> */


